html, body {
  margin: 0;
  padding: 0;
  font-family: "Averia Serif Libre";
}

main {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px;
}

canvas {
  display: block;
}

h1 {
  margin-top: 35vh; 
  color: #000000be;
  text-align: center;
}

h2 {
  margin-top: 10vh; 
  color: #000000be;
  text-align: center;
  font-size: 8vh;
}



/*
TYPES OF SELECTORS
Element selectors: p, h1, h2
ID selectors: #id-name
Class selectors: .class-name
Attribute selectors: img["src"]
Pseudo-class selectors: a:hover
*/

