html, body {
  margin: 0;
  padding: 0;
  font-family: "Averia Serif Libre";
}

main {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px;
}

canvas {
  display: block;
}

h1 {
  color: #000000be;
  text-align: center;
}
/*
main {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px;
}

canvas {
  display: block;
}

h1, h2 {
  color: #000000be; 
  text-align: center;
   
}

#header-two {
  color: #000000be; 
  text-align: center;
  padding-top: 10px; 
}

main {
  padding-top: 10px; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 10dvh;
  opacity: 0.5; 
  padding: 7vh; 

}

img:hover {
  border-radius: 0px;
  opacity: 1.0; 

}

p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 6vh; 
  margin-bottom: 0;
  line-height: 2em;
}


p, main {
  background-color: #f6f2d69f;
}



/*
TYPES OF SELECTORS
Element selectors: p, h1, h2
ID selectors: #id-name
Class selectors: .class-name
Attribute selectors: img["src"]
Pseudo-class selectors: a:hover
*/

